@model IEnumerable<E_commerce.Entity.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
 @foreach (var item in Model )
    {
        <p>@item.name</p>
    }
</body>
</html>